/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Logo */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 200px;
    margin-right: 10px;
  }
  

  /* Menu */
  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #0cc0df;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  /* Botões */
  .buttons {
    display: flex;
    gap: 25px;
  }
  
  .btn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-donate {
    background-color: #ffde59;
    color: #ffffff;
  }
  
  .btn-donate:hover {
    background-color: #cfb447;
  }
  
  .btn-sponsor {
    background-color: #ffde59;
    color: #fff;
  }
  
  .btn-sponsor:hover {
    background-color: #cfb447;
  }
  /* Reset padrão */
body, html {
  margin: 0;
  padding: 0;
  height: 80%;
}

/* Contêiner da Imagem */
.image-container {
  position: relative;
  width: 100%;
  height: 100%; /* Ocupa a altura total da tela */
  background: url('img/escolacrianças.png') no-repeat center center/cover;
}

/* Texto sobre a Imagem */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 4px rgba(12, 192, 223, 1);
  padding: 10px;
  max-width: 90%; /* Para manter o texto responsivo */
}
